* {
	box-sizing: border-box;
}
html {
	position: relative;
	min-height: 100%;
	font-family: 'firasans-book', sans-serif;
}
body {
	background: url('../img/bg-page.png') #fff;
	margin-bottom: 120px;
}
.wrapper {
	position: relative;
	width: 100%;
}
.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

/* global */

h1, h2, h3, h4, h5, h6 { color: #3ba8c0; font-weight: normal; }
mark { background-color: transparent; font-weight: bold; }
a { color: #3ba8c0; text-decoration: none; }
a:hover { text-decoration: underline; }

/* fonts */
.firasans-regular { font-family: 'firasans-regular', sans-serif; }
.firasans-light { font-family: 'firasans-light', sans-serif; }
.firasans-lightitalic { font-family: 'firasans-lightitalic', sans-serif; }
.firasans-book { font-family: 'firasans-book', sans-serif; }
.firasans-bold { font-family: 'firasans-bold', sans-serif; }
.proximanovacond-semibold { font-family: 'proximanovacond-semibold', sans-serif; }

/* icons */
[class*='icon-'] { font-size: 0; }
[class*='icon-']:before {
	content: ' ';
	display: inline-block;
	background-image: url('../img/icons.png');
	background-repeat: no-repeat;
	z-index: 1000;
}

.icon-add-case:before { width: 32px; height: 32px; background-position: -5px -5px; }
.icon-add-file:before { width: 32px; height: 24px; background-position: -47px -5px; }
.icon-case:before { width: 36px; height: 34px; background-position: -47px -39px; }
.icon-close:before { width: 25px; height: 25px; background-position: -5px -83px; }
.icon-docs:before { width: 26px; height: 32px; background-position: -93px -5px; }
.icon-email:before { width: 21px; height: 16px; background-position: -5px -47px; }
.icon-hat:before { width: 41px; height: 23px; background-position: -93px -47px; }
.icon-look:before { width: 20px; height: 32px; background-position: -93px -80px; }
.icon-phone:before { width: 19px; height: 21px; background-position: -129px -5px; }
.icon-skype:before { width: 20px; height: 20px; background-position: -123px -80px; }

/* grid на будущее */

.container .row { margin: 0 -15px; }
	.row [class^='col-'] { float: left; }
	.row .col-1 { width: 8.333333333333333%; }
	.row .col-2 { width: 16.66666666666667%; }
	.row .col-3 { width: 25%; }
	.row .col-4 { width: 33.33333333333333%; }
	.row .col-5 { width: 41.66666666666667%; }
	.row .col-6 { width: 50%%; }
	.row .col-7 { width: 58.33333333333333%; }
	.row .col-8 { width: 66.66666666666667%; }
	.row .col-9 { width: 75%; }
	.row .col-10 { width: 83.33333333333333%; }
	.row .col-11 { width: 91.66666666666667%; }
	.row .col-12 { width: 100%; }

/* header */

.page-header {
	position: relative;
	height: 116px;
	margin-bottom: 36px;
	background-color: #eff3f7;
}
.page-header:before, .page-footer:before {
	content: '';
	position: absolute;
	bottom: -3px;
	width: 100%; height: 3px;
	margin-bottom: 3px;
	background: #4294aa;
	background: linear-gradient(right, #e7eff3 0%, #21697d 50%, #e7eff3 100%);
}
.page-header .container {
	width: 1200px; height: 100%;
}
.page-header .logo-header {
	position: relative;
	float: left;
	top: 50%;
	margin-top: -21px;
}
.page-header .socials {
	position: relative;
	float: right;
	top: 50%;
	margin-top: -24px;
}

/* socials */

.socials {
	height: 47px;
	margin: 0; padding: 0;
	text-align: center;
}
.socials .social-item {
	display: inline-block;
	width: 47px; height: 47px;
	margin: 0 0 0 10px;
	vertical-align: top;
}
.socials .social-item:first-child { margin-left: 0; }
	.social-item .social-link {
		display: block;
		width: 100%;
		height: 100%;
		font-size: 0;
		outline: none;
		background-image: url('../img/icon-socials.png');
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	.social-item .social-link.vk-link { background-position: 0 0; }
	.social-item .social-link.tw-link { background-position: -48px 0; }
	.social-item .social-link.fb-link { background-position: -96px 0; }
	.social-item .social-link.gh-link { background-position: -145px 0; }
	.social-item .social-link.vk-link:hover { background-position: 0 -47px; }
	.social-item .social-link.tw-link:hover { background-position: -48px -47px; }
	.social-item .social-link.fb-link:hover { background-position: -96px -47px; }
	.social-item .social-link.gh-link:hover { background-position: -145px -47px; }

/* sidebar */

.l-sidebar {
	float: left;
	width: 250px;
}
.sidemenu, .author-contacts {
	border-radius: 5px;
	margin-bottom: 16px;
	overflow: hidden;
}
.sidemenu .sidemenu-title {
	padding: 24px;
	font-size: 22px;
	line-height: 26px;
	color: #fff;
	background-color: #3ba8c0;
}
.sidemenu-list {
	list-style: none;
	margin: 0; padding: 0;
	background-color: #eff3f7;
}
	.sidemenu-list .sidemenu-item {
		margin: -2px 0 0; padding: 0;
	}
	.sidemenu-list .sidemenu-item:first-child a { border-top: none; }
	.sidemenu-list .sidemenu-item a {
		display: block;
		font-size: 20px;
		line-height: 24px;
		margin: 0 10px; padding: 24px 14px;
		border-top: 2px solid #3ba8c0;
		color: #959aa8;
		text-decoration: none;
		transition: color 0.3s linear;
	}
	.sidemenu-list .sidemenu-item a:hover {
		color: #3ba8c0;
	}
	.sidemenu-list .sidemenu-item.active {
		background-color: #3ba8c0;
	}
	.sidemenu-list .sidemenu-item.active a {
		color: #fff;
	}
.author-contacts {
	font-style: normal;
	margin-bottom: 16px;
}
.author-contacts .address-title {
	padding: 10px 20px;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	background-color: #3ba8c0;
}
.author-contacts .contacts-list {
	list-style: none;
	margin: 0; padding: 0 ;
}
	.contacts-list .contact-item {
		padding: 10px 10px 10px 70px;
		background-color: #48cbe8;
	}
		.contact-item.email { background-color: #41b9d4; }
		.contact-item.phone { background-color: #48cbe8; }
		.contact-item.skype { background-color: #41b9d4; }
	.contacts-list .contact-item a {
		position: relative;
		color: #fff;
		font-size: 16px;
		text-decoration: none;
	}
	.contacts-list .contact-item a:hover {
		text-decoration: underline;
	}
		.contact-item .icon-email:before {
			position: absolute;
			top: 3px; left: -40px;
		}
		.contact-item .icon-phone:before {
			position: absolute;
			top: 3px; left: -40px;
		}
		.contact-item .icon-skype:before {
			position: absolute;
			top: 3px; left: -40px;
		}

/* content */

.content {
	position: relative;
	float: right;
	width: 650px;
}

.section-content {
	position: relative;
	padding: 24px;
	margin-bottom: 24px;
	border-radius: 5px;
	color: #4a545d;
	background-color: #eff3f7;
}
.section-content-title {
	position: relative;
	display: inline-block;
	margin-left: -24px;
	margin-top: -24px;
	padding: 0 24px 0px 24px;
	line-height: 66px;
	border-bottom: 2px solid #3ba8c0;
}
.section-info-box { }

.author-userpic {
	position: relative;
	float: left;
	display: inline-block;
	width: 150px; height: 150px;
	border-radius: 50%;
	border: 5px solid #31a6bd;
	vertical-align: top;
	overflow: hidden;
}
.author-userpic .userpic-img {
	width: 100%;
}
.author-about-info {
	list-style: none;
	margin: 0; padding: 0;
}
.author-userpic + .author-about-info { margin-left: 180px; }
.author-about-info > li {
	display: table;
}
.author-about-info .about-title, .author-about-info .about-info {
	display: table-cell;
	text-align: left;
	padding: 4px 16px 4px 0;
	vertical-align: top;
}
.author-about-info .about-title {
	font-weight: bold;
	white-space: nowrap;
}
.author-about-info .skill-list {
	display: inline-block;
	font-family: 'proximanovacond-semibold', sans-serif;
	margin: 0; padding: 0;
}
.author-about-info .skill-list li {
	padding: 0 8px; margin: 3px 2px;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	border-radius: 3px;
	background-color: #2e8ca2;
	box-shadow: inset 0 12px 0 -2px #3ba8c0;
}
.skill-list li {
	display: inline-block;
}

.experience-list {
	list-style: none;
	padding: 0;
	margin: 10px 10px 10px 30px;
}
.experience-list .experience-list-item {
	position: relative;
	margin: 10px 0;
	padding-left: 64px;
	line-height: 24px;
}
	.experience-list-item[class*='icon-']:before {
		position: absolute;
		top: 50%; left: 0px;
	}
	.experience-list-item.icon-case:before { left: 3px; margin-top: -17px; }
	.experience-list-item.icon-hat:before { margin-top: -12px; }
	.experience-list-item.icon-docs:before { left: 10px; margin-top: -16px; }
	.experience-list-item p { margin: 0; }
	.experience-list-item .item-title {
		font-size: 17px;
	}
	.experience-list-item .item-description {
		font-size: 15px;
		font-family: 'firasans-light', sans-serif;
	}

/* footer */

.page-footer {
	position: absolute;
	bottom: 0;
	width: 100%; height: 80px;
	background-color: #eff3f7;
}
.page-footer:before { bottom: auto; top: -3px; }
.page-footer .container { height: 100%; }
.page-footer .lock-auth {
	position: absolute;
	top: 50%; left: 30px;
	margin-top: -16px;
	z-index: 2;
}
.page-footer .lock-auth a {
	position: absolute;
	display: block;
	left: 0; top: 0;
	width: 100%; height: 100%;
}
.page-footer .copyright {
	position: relative;
	top: 36px;
	text-align: center;
	font-size: 14px;
	font-family: 'firasans-light', sans-serif;
}


/* clearfix */
.cf:before, .cf:after,
.row:before, .row:after {
	content: " "; display: table;
}
.cf:after, .row:after { clear: both; }